
*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: rgb(245, 245, 245);
}
.clear-both{
    clear: both;
}
.parent{
    width: 900px;
    height: 500px;
    background-color: white;
    border: 1px solid gray;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -450px;
    border-radius: 6px;
}
/* ....start welcome..... */
.parent .welcome{
    width: 50%;
    height: 500px;
    background-color: darkorange;
    float: right;
} 
.parent .welcome .welcome-content{
width: 300px;
padding: 30px 0px;
text-align: center;
color: #fff;
margin: 0 auto;
margin: 162px auto 0px auto;
text-transform: capitalize;

}
.parent .welcome .welcome-content p{
    margin: 20px 0px;
}
.parent .welcome .welcome-content button{
padding: 7px 30px;
background: none;
border: 1px solid #fff;
border-radius: 5px;
color: #fff;
font-size: 18px;
}

/* ....end welcome...... */


/* ....start login...... */
.parent .login{
    width: 50%;
    height: 500px;
    
}
.parent .login .login-content{
    overflow: hidden;
    padding:0px 40px;
    margin-top: 100px;

}

.parent .login .title-social{
    background-color: aqua;
}
/* start form */
.parent .login form{
    margin: 30px 0px;

}
.parent .login  form input{
    padding: 10px 5px;
    width: 356px;
    border-radius: 3px;
    border: 1px solid lightgray;

}
.parent .login  form input[type="submit"]{
    margin-top: 20px;
    width: 370px;
   
}
.parent .login  form  h4{
    margin: 5px 0px;
    
}
/* end form */

/* start forgot */
.parent .login .forgot-remember{
    background-color: #fff;
    color: black;
}
.parent .login .forgot-remember .checkbox{
    float: left;
}
.parent .login .forgot-remember p {
    float: right;
    color: black;
   font-weight: 100px;
    
}
/* end forgot */
.parent .login .title-social h3{
    float: left;
    font-size: 24px;
    text-transform: capitalize;
}

.parent .login  .title-social  ul {
    float: right;
    list-style: none;
}

.parent .login  .title-social  ul li{
    float: left;
    font-size: 28px;
}
.parent .login  .title-social  ul li i{
    color: rgb(197, 185, 185);
}
.parent .login  .title-social  ul li i:hover{
    color: darkorange;
}

.parent .login  .title-social .fa-facebook{
    margin-right: 10px;
}